.article p {
	margin-bottom: 18px;
}

#headercontainer {
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	padding-left: 30px;
	z-index: 10000;
	background: white;
}

#topbar {
	margin:0;
	position: relative;
	top: 0;
	height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	box-shadow: -3px 0 4px rgba(0,0,0,0.06);
}

#topbarleft {
	position: absolute;
	width: 400px;
	height: 50px;
	float: left;
	text-align: left;
	margin-left: -15px
}

#sections {
	box-sizing: border-box;
	height: 30px;
	padding: 0 12px 0 8px;
	position: relative;
	top: 10px;
	background: white;
	border: #ddd 1px solid;
	border-radius: 3px;
	font-size: 10px;
	box-shadow: -3px 4px 4px rgba(0,0,0,0.06);
}




#sections:hover {
	background: #eee;
}

#sections p {
	font-weight: 700;
	position: relative;
	display: inline-block;
	bottom: 4px;
	margin-left: 4px;
}

#sectionsbutton {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -490px -214px;
	width: 16px;
	height: 16px;
	margin-top: -1px;
	display: inline-block;
}

#home {
	box-sizing: border-box;
	height: 30px;
	padding: 0 12px 0 8px;
	position: relative;
	top: 10px;
	background: white;
	border: none;
	border-radius: 3px;
	font-size: 10px;
	display: inline-block;
}
#home:hover {
	background: #eee;
}
#home p {
	font-weight: 700;
	position: relative;
	display: inline-block;
	bottom: 4px;
	margin-left: 4px;
}


#homebutton {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -83px -280px;
	width: 16px;
	height: 16px;
	margin-top: -1px;
	display: inline-block;
}

#search {
	box-sizing: border-box;
	height: 30px;
	padding: 0 12px 0 8px;
	position: relative;
	top: 10px;
	background: white;
	border: none;
	border-radius: 3px;
	font-size: 10px;
	display: inline-block;
}
#search:hover {
	background: #eee;
}

#search p {
	font-weight: 700;
	position: relative;
	display: inline-block;
	bottom: 4px;
	margin-left: 4px;
}


#searchbutton {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -404px -214px;
	width: 16px;
	height: 16px;
	margin-top: -1px;
	display: inline-block;
}

#logo {
	position: relative;
	margin: 0 auto;
	height: 40px;
	margin-left: -50px;
}
#logoimg {
	position: relative;
	top: 13px;
}

#topbarright{
	height: 50px;
	width: 400px;
	position: absolute;
	right: 25px;
	top: 10px;
}

#topbarright > * {
	margin-right: 10px;
}
#articlesread {
	font-family: sans-serif;
	font-size: 10px;
	color: #333;
	display: inline-block;
}

#subscribebutton {
	background: #6288a5;
	border: 1px solid #4d7b9f;
	color: white;
	padding: 6px 10px 6px 10px;
	border-radius: 4px;
	display: inline-block;
	font-size: 10px;
	font-weight: 600;

}
#loginbutton {
	background: #6288a5;
	border: 1px solid #4d7b9f;
	color: white;
	padding: 6px 10px 6px 10px;
	border-radius: 4px;
	display: inline-block;
	font-size: 10px;
	font-weight: 600;
}
#settingsbutton{
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -34px -247px;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 5px;

}

#wrapper {
	position: relative;
	box-sizing: border-box;
	top: 50px;
	width: 100%;
	padding-left: 20px;
}

#articlebody {
	/*box-sizing: border-box;*/
	position: absolute;
	height: 8000px;
	top:0;
	bottom: 0;
	right: 0;
	left: 30px;
	box-shadow: -3px -3px 10px rgba(0,0,0,0.06);
	/*border-left: solid black 10px;*/
}

#pageheader {
	position: relative;
	top:0;
	width: 100%;
	height: 80px;
    box-shadow: 3px 3px 3px #eee;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-top: 5px;
}

.headerarticle {
	box-sizing: border-box;
	width: 20%;
	display: flex;
	border-right: 1px solid #ccc;
	height: 90%;
}

.number {
	display: flex;
	width: 10%;
	justify-content: center;
	font-size: 22px;
	font-weight: 500;
	padding-top: 5px;
}

.text {
	display: flex;
	width: 90%;
	align-items: center;
	font-size: 12px;
	padding-left: 3px;
	padding-right: 5px;
}

#topad {
	position: relative;
	height: 128px;
	width: 90%;
	margin: 0 auto;
	border-bottom: black 1px solid;
	box-sizing: border-box;
	text-align: center;
}

#adlabel {
	font-family: sans-serif;
	font-size: 12px;
	color: lightgray;
	line-height: 19px;
}

#bannerad {
	position: relative;
	margin-top: 0;
	width: 728px;
	height: 90px;
	border: 1px black solid;
}

#mainarticle {
	margin: 0 auto;
	position: relative;
	width: 90%;
}

#articleheader{
	height: 165px;
	width: 100%;
}

#topicbar{
	height: 18px;
	padding-top: 10px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 12px;
}

#articletitle {
	padding-top: 28px;
	height: 48px;
	font-size: 28px;
	font-style: italic;
	border-bottom: 1px solid #ccc;
}

#authorandicons {
	position: relative;
	height: 36px;
}

#author {
	position: absolute;
	bottom: 0;
	font-size: 11px;
}

#author em {
	font-weight: 600;
}

#icons {
	height: 25px;
	position: absolute;
	bottom: -10px;
	right: 0;
	width: 260px;
}

#facebookicon {
	background: url(sprites.svg);
    background-repeat: no-repeat;
    background-position: -33px -54px;
    width: 25px;
    height: 25px;
	display: inline-block;
	margin-left: 10px;
}

#twittericon {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -33px -313px;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
}

#emailicon {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -131px -21px;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
}

#shareicon {
	background: url(sprites.svg);
    background-repeat: no-repeat;
    background-position: -294px -247px;
    width: 25px;
    height: 25px;
	display: inline-block;
	
	margin-left: 10px;
}

#divider {
	width: 10px;
	
	margin-left: 10px;
	border-left: 1px solid #ccc;
	height: 25px;
	display: inline-block;
}

#bookmarkicon {
	background: url(sprites.svg);
	background-repeat: no-repeat;
	background-position: -353px -214px;
	width: 16px;
	height: 25px;
	display: inline-block;
}

#textbubble {
	border: 1px solid #333;
	border-radius: 5px;
	width: 36px;
	height: 25px;
	background: white;
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	margin-left: 10px;
	position: relative;
	top: -8px;
}

#topimg {
	width: 100%;
}

#cosmoscaption {
	padding-right: 490px;
	font-size: 12px;
	margin-top: 5px;
	color: #888;
	line-height: 18px;
}

#cosmoscaption em {
	color: #bbb;
	font-weight: 500;
}

#cosmos {
	width: 100%;
}

.article {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 30px;
	margin-top: 30px;
	float: left;
	width: 55%;
	color: #333;
	padding-left: 60px;
	margin-bottom: 25px;
}

#theorywrapper {
	width: 90%;
	clear: both; 
	display: flex;
	flex-direction: column;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

#headline {
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
}

#leadintext {
	width: 100%;
	font-size: 13px;
	color: #888;
	margin-bottom: 10px;
}
#graphicscontainer {
	background-image: url(inflation.png);
	background-size: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.gridbox{
	box-sizing: border-box;
	width: 25%;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.gridtext em {
	font-weight: 600;
	font-size: 10px;
}

.spacer {
	height: 50%;
}

.gridtext{
	height: 50%;
	font-family: sans;
	font-size: 12px;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#attribution {
	font-family: sans;
	font-size: 10px;
	color: #aaa;
	padding-top: 10px;
	padding-bottom: 10px;
}

.videocaption {
	margin-bottom: 5px;
	color: #888;
	font-size: 12px;
	line-height: 14px;
	width: 600px;
}

img[alt="telescope"] {
	width: 600px;
}
